<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Welcome to Locale!</h1>
        <p class="lead">Explore the best places to eat and drink, no matter where in the world you might be.</p>
        <a href="/login" class="btn btn-primary my-2">Login</a>
        <a href="/signup" class="btn btn-secondary my-2">Signup</a>
      </div>
    </div>
  </div>
</header>